*{
    margin: 0px;
    padding: 0px;
}
.secondpage1{
    width: 100%;
    height:532px;
    /* background-color:tomato; */
    background-color:rgb(231, 230, 230);
    position: absolute;
    margin-top: 46%;
    display:flex;
}
.spleft{
    width: 45%;
    height: 530px;
    background-color: slategray;
    background-image:url(./redphone.webp);
    background-repeat: no-repeat;
    background-size: 610px 530px;
    position: relative;
    margin-left: 40px;
}
.spright{
    width: 45%;
    height: 530px;
    background-color:aqua;
    background-image: url(./blue\ headphone.webp);
    background-repeat: no-repeat;
    background-size: 610px 530px;
    position: relative;
    margin-left: 40px;
}
.splword{
    width: 60%;
    height: 270px;
    /* background-color:violet; */
    position: absolute;
    margin-top: 80px;
    margin-left: 75px;
}
.holiday{
    font-size: 20px;
    width: 40%;
    height: 30px;
    position: relative;
    /* background-color: yellowgreen; */
    color: white;
}
.upto{
    width: 50%;
    height: 90px;
    margin-top: -12px;
    /* background-color: yellowgreen; */
    position: relative;
}
.up{
    font-weight: bolder;
    color: white;
}
.smart{
    font-size: 20px;
    width: 80%;
    height: 30px;
    margin-top: 13px;
    position: relative;
    /* background-color: yellowgreen; */
    color: white;
}
.sho{
    background-color:white;
    width: 40%;
    height: 40px;
    border-radius: 40px;
    border-style: none;
    margin-top: 7px;
    color:black;
}
.sho:hover:not(.active) 
{
  background-color:unset;
  border: 1px solid white;
}
.sprwords{
    width: 60%;
    height: 300px;
    /* background-color:violet; */
    position: absolute;
    margin-top: 60px;
    margin-left: 95px;
}
.just{
    color: white;
}
.your{
    width: 50%;
    height: 150px;
    margin-top: -14px;
    /* background-color: yellowgreen; */
    position: relative;
    color: white;
}
.top{
    width: 80%;
    height: 30px;
    position: relative;
    /* background-color: yellowgreen; */
    color: white;
}