*{
    padding: 0;
    margin: 0;
}
.thirdpagediv{
    width: 100%;
    height: 260px;
    background-color:rgb(231, 230, 230);
    position: absolute;
    margin-top: 85%;
}
.innerdiv{
    width: 94%;
    height: 180px;
    background-color: white;
}
.pickup{
    width: 25%;
    height: 180px;
    /* background-color: yellowgreen; */
}
.shipping{
    width: 28%;
    height: 180px;
    /* background-color: turquoise;   */
}
.lowprice{
    width: 20%;
    height: 180px;
    /* background-color: burlywood; */
}
.available{
    width:20%;
    height: 180px;
    /* background-color: yellowgreen; */
}
.imgthree{
    width: 70%;
    height: 170px;
    /* background-color: aliceblue; */
    background-image: url(./price\ tag.PNG);
    background-repeat: no-repeat;
    background-size: 100px 100px;
}
.imgone{
    height: 90px;
    width: 30%;
    background-image: url(./1085983.png);
    background-repeat: no-repeat;
    background-size: 80px 100px;
}
.imgtwo{
    width: 33%;
    height: 100px;
    /* background-color: aliceblue; */
}
.imgfour{
    width: 54%;
    height: 170px;
    /* background-color: aliceblue; */
    background-image: url(./Capture.PNG);
    background-repeat: no-repeat;
    background-size: 90px 90px;
}
