*{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    width: 100%;
    height: 1000px;
    background-color: violet;
    margin-top: 104%;
}
.fulldiv{
    width: 85%;
}
.best{
    width: 70%;
    height: 150px;
    background-color:aqua;
}