.background{
    width: 100%;
    height: 500px;
    /* background-color: aquamarine; */
}
.leftbackground {
    width: 50%;
    height: 500px;
    background-image: url('./Banner Image.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.9s ease; /* Adding smooth transition on transform */
  }
  
  .leftbackground:hover {
    transform:  rotateY(360deg);
  }
.textone{
    width:36%;
    height: 300px;
    margin-top: 100px;
    margin-left: 100px;
    /* background-color: turquoise; */
}
.course{
    border-radius: 15%;
    width: 40%;
    height: 50px;
    background-color: black;
    color: white;
}
.discount{
    width: 40%;
    /* background-color: aqua; */
    background-image: url(./booked.png);
    background-repeat: no-repeat;
    background-size: 200px 70px;
    transition: transform 0.3s ease; 
}
.discount:hover {
    transform: scale(1.2); /* Adjust the scale factor for the zoom effect */
  }
/* first page ends here */

/* second page starts here */

.seconddiv{
    width: 100%;
    height: 200px;
    /* background-color: wheat; */
}
.texttwo{
    width: 40%;
    height: 50px;
    /* background-color: aqua; */
    margin-left: 400px;
}
.textthree{
    width: 30%;
    height: 50px;
    /* background-color: aqua; */
    margin-left: 470px;
}
.twobutton{
    width: 70%;
    height: 50px;
    margin-left: 200px;
    /* background-color: beige; */
}
.searchbutton{
    width: 20%;
    height: 40px;
    margin-left: -70px;
    /* background-color: yellow; */
}
#search{
    width: 100%;
}
.categoriesbutton{
    width: 10%;
    height: 50px;
    margin-left: 50px;
}

/* second page ends here */

/* third page starts here */

.thirddrivnav{
    color:black;
}
.allcourses{
    margin-left: 350px;
}
.cardimg{
    width: 40%;
    height: 180px;
}
#cardtitle{
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}
#cardtitlefour{
    font-size: 10px;
    font-weight: bold;
}
#cardtextone{
    font-size: 12px;
    margin-left: 5px;
}
#cardtexttwo{
    font-size: 11px;
}
#cardbody{
    padding-left: 0;
    /* background-color: aqua; */
}
/* .card{
    background-color: tomato;
} */
button{
    background-color: black;
    margin-left: 9px;
}

.starfour{
    width: 19%;
    height: 40px;
    background-image: url(./4star.png); 
    background-repeat: no-repeat;
    /* background-color:blue;  */
    margin-left: 70px;
 } 
 .starthree{
    width: 15%;
    height: 40px;
    background-image: url(./3star.png); 
    background-repeat: no-repeat;
    /* background-color:blue;  */
    margin-left: 80px;
 } 
 .starfive{
    width: 17%;
    height: 43px;
    background-image: url(./5star.png); 
    background-repeat: no-repeat;
    /* background-color:blue;  */
    margin-left: 70px;
 } 
 .startwo{
    width: 15%;
    height: 40px;
    background-image: url(./2star.png); 
    background-repeat: no-repeat;
    /* background-color:blue;  */
    margin-left: 80px;
 } 
 .starone{
    width: 15%;
    height: 40px;
    background-image: url(./1star.png); 
    background-repeat: no-repeat;
    /* background-color:blue;  */
    margin-left: 80px;
 } 