.background{
    width: 100%;
    height: 500px;
    /* background-color: aquamarine; */
}
.leftbackground{
    width: 50%;
    height: 500px;
    /* background-color: blueviolet; */
    background-image: url(./Banner\ Image.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.textone{
    width:36%;
    height: 300px;
    margin-top: 100px;
    margin-left: 100px;
    /* background-color: turquoise; */
}
.course{
    border-radius: 15%;
    width: 40%;
    height: 50px;
    background-color: black;
    color: white;
}
.discount{
    width: 40%;
    height: 140px;
    background-color: aqua;
    margin-left: 200px;
    margin-bottom: 600px;
}
.seconddiv{
    width: 100%;
    height: 200px;
    background-color: wheat;
    /* margin-top: 330px; */
}
.texttwo{
    width: 40%;
    height: 50px;
    /* background-color: aqua; */
    margin-left: 400px;
}
.textthree{
    width: 30%;
    height: 50px;
    /* background-color: aqua; */
    margin-left: 470px;
}
.twobutton{
    width: 70%;
    height: 50px;
    margin-left: 200px;
    /* background-color: beige; */
}
.searchbutton{
    width: 20%;
    height: 40px;
    margin-left: -70px;
    /* background-color: yellow; */
}
#search{
    width: 100%;
}
.categoriesbutton{
    width: 10%;
    height: 50px;
    margin-left: 50px;
}