*{
    margin: 0;
    padding: 0;
}
.icon{
    margin-right: 15px;
}
.nav1{
    display: flex;
    width: 100%;
    height: 50px;
    color:white;
    background-color: black;
    /* position: sticky; */
}
.nav1left{
    padding: 15px 15px;
    margin-left: 30px;

}
.nav1right ul{
    list-style-type: none;
    margin-left: 525px;
    margin-top: 14px;
}
.nav1right {
    float: right ;
    
}
.nav1right li {
    display: inline ;
    padding: 5px 15px 5px 10px;
    
}
.nav1right a{
    color:white;
}